@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100;400;700&family=Sarabun:wght@100;400&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sriracha", cursive;
}
.container {
  width: 800px;
  height: 600px;
  margin: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
}
/* header */
.cart {
  width: 800px;
  height: 600px;
}
header {
  height: 10%;
  min-width: 100%;
  border: 2px 2px 2px solid;
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid silver;
  align-items: baseline;
  margin-top: 12px;
}
div > * {
  text-decoration: none;
  padding: 8px;
  color: gray;
}
div > a:hover {
  background-color: dodgerblue;
  color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.4s;
}
.logo:hover {
  color: red;
  transition: 0.4s;
  cursor: pointer;
}
div > i:hover {
  color: dodgerblue;
  cursor: pointer;
  transition: 0.4s;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
    0px 6px 6px rgba(0, 0, 0, 0.23);
}
/*   */
.text-cart {
  min-height: 25%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-left: 10%;
}
.text-cart * {
  color: #000;
}
/* item */
.shop-item {
  display: flex;
  justify-content: flex-start;

  height: 50%;
  margin: 0 10% 0 10%;
  border: 2px solid red;
  display: flex;
}
.cart-slect {
  border: 1px dashed black;
  height: 50%;
  width: 50%;
}
.item {
  display: flex;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
  justify-content: flex-start;
  border-radius: 24px;
  margin: 12px;
}
.boxGoogle {
 height: 120px;
 width: 160px;
 box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
 border-radius: 24px;
 background: rgb(205,207,210);
background: radial-gradient(circle, rgba(205,207,210,1) 0%, rgba(11,138,194,1) 82%);
}
.boxGoogle > * {
  color: #fff;
  text-shadow: 0px 0px 3px black;
}
/* dropdown */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.4s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* drop drow */
/*  */
